<footer class='c-footer'>
  <div class='o-grid'>

    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l c-footer__section'>
      <p class='c-footer__headline'>{{ @site.title }}</p>
      <p class='u-type-md u-color-gray'>{{ @site.description }}</p>
    </div>

    {{#if @site.secondary_navigation}}
      <div class='o-grid__col o-grid__col--initial-grow o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l c-footer__section'>
        <p class='c-footer__headline'>{{t 'About' }}</p>
        <ul class='c-footer-list o-plain-list'>
          {{ navigation type='secondary' }}
        </ul>
      </div>
    {{/if}}

    <div class='o-grid__col o-grid__col--initial-grow o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l c-footer__section'>
      <p class='c-footer__headline'>{{t 'Social' }}</p>
      <ul class='c-footer-list o-plain-list'>
        <li class="c-nav__item">
          <a href="https://www.linkedin.com/in/hackemate/" target="_blank" class="c-nav__link">Linkedin</a>
          <a href="https://github.com/hackemateninja" target="_blank" class="c-nav__link">Github</a>
          <a href="https://www.instagram.com/hackemateninja/" target="_blank" class="c-nav__link">Instagram</a>
          <a href="https://www.tiktok.com/@hackemateninja" target="_blank" class="c-nav__link">tik tok</a>
          <a href="https://twitter.com/Hackemateninja" target="_blank" class="c-nav__link">twitter</a>
        </li>
      </ul>
    </div>

    <div class='o-grid__col o-grid__col--4-4-s c-footer__section'>
      <div class='u-type-xs c-footer__copyright'>
        &copy; {{ date format='YYYY' }} {{ @site.title }} -
        {{{t 'Published with {ghostLink} 👻 & {themeLink} 🏯' ghostLink='<a href=\'https://ghost.org\'>Ghost</a>' themeLink='<a href=\'https://bushidolabs.io\'>Bushido Labs</a>' }}}
      </div>
    </div>

  </div>
</footer>