<div class='c-member-plans'>
  {{#unless @member}}
    <div class='c-member-plan c-member-plan--free'>
      <header class='c-member-plan__header'>
        <h2 class='c-member-plan__title'>{{t 'Free'}}</h2>
        <span class='c-member-plan__sign'>{{ @price.currency_symbol }}</span>
        <strong class='c-member-plan__amount'>0</strong>
      </header>
      <div class='c-member-plan__content'>
        <ul class='c-member-plan__list'>
          <li>Newsletter access</li>
        </ul>
        <a class='c-btn c-btn--outline' href='/signup/'>{{t 'Choose this plan'}}</a>
      </div>
    </div>
  {{/unless}}

  <div class='c-member-plan c-member-plan--free'>
    <header class='c-member-plan__header'>
      <h2 class='c-member-plan__title'>{{t 'Monthly'}}</h2>
      <span class='c-member-plan__sign'>{{ @price.currency_symbol }}</span>
      <strong class='c-member-plan__amount'>{{ @price.monthly }}</strong>
    </header>
    <div class='c-member-plan__content'>
      <ul class='c-member-plan__list'>
        <li>All free benefits included</li>
        <li>Full access to all Katas, posts and lessons</li>
        <li>Discounts on all products</li>
        <li>Simple secure payment, cancel whenever you want</li>
      </ul>
      <a class='c-btn c-btn--outline' href='javascript:void(0)' data-members-plan='Monthly'>{{t 'Choose this plan'}}</a>
    </div>
  </div>

  <div class='c-member-plan c-member-plan--premium'>
    <header class='c-member-plan__header'>
      <h2 class='c-member-plan__title'>{{t 'Yearly'}}</h2>
      <span class='c-member-plan__sign'>{{ @price.currency_symbol }}</span>
      <strong class='c-member-plan__amount'>{{ @price.yearly }}</strong>
    </header>
    <div class='c-member-plan__content'>
      <ul class='c-member-plan__list'>
        <li>All monthly benefits included</li>
        <li>$240 off</li>
      </ul>
      <a class='c-btn c-btn--action' href='javascript:void(0)' data-members-plan='Yearly'>{{t 'Choose this plan'}}</a>
    </div>
  </div>
</div>