<div class='o-grid__col o-grid__col--initial-grow o-grid__col--4-4-s o-grid__col--2-4-m c-tag-card-wrap'>
  <div class="c-tag-card c-tag-card__members">
    {{#if feature_image}}
      <div class='c-tag-card__media'>
        <div class='c-tag-card__image-wrap'>
          <img class='c-tag-card__image lazyload' data-src='{{ img_url feature_image size='m' }}' alt='{{title}}'/>
        </div>
      </div>
    {{/if}}

    <div class='c-tag-card__content'>
      <h2 class='c-tag-card__title'><a href='{{ url }}' class='c-tag-card__url'>{{ title }}</a></h2>
      <time class='c-post-card__date' datetime='{{ date format='YYYY-MM-DD' }}' title='{{ date format='DD MMMM YYYY' }}'>{{ date format='DD MMM YYYY' }}</time>
      <p class='c-tag-card__description'>{{ excerpt }}</p>
    </div>

    <div class='c-tag-card--members'>Go 💳</div>
  </div>
</div>