<!doctype html>
<html lang='{{ @site.lang }}'>

{{> head }}

<body class='{{ body_class }}'>
  <div class='c-site-container'>
    {{> notifications }}

    {{> header }}

    {{> tags-list }}

    <main class='o-wrapper'>
      <div class='o-grid'>
        <div class='o-grid__col o-grid__col o-grid__col--center o-grid__col--9-10-m o-grid__col--2-3-l'>
          {{{ body }}}
        </div>
        <div class='o-grid__col o-grid__col o-grid__col--center o-grid__col--9-10-m o-grid__col--1-3-l'>
          {{> sidebar }}
        </div>
      </div>
    </main>

    {{> footer}}
  </div>

  <script src='{{ asset 'js/app.min.js' }}'></script>
  {{ ghost_foot }}
</body>
</html>